.contadorComponent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formComponent {
    display: flex;
    align-items: center;
}

button {
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 5px;
    border: 1px solid #EDD83D;
    border-radius: 50px;
    background-color: #EDD83D;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
button:hover {
    text-align: center;
    width: 25px;
    height: 25px;
    margin: 5px;
    border: 1px solid #EDD83D;
    border-radius: 50px;
    background-color: #EDD83D;
    opacity: 0.2;
    color: black;
    font-size: 18px;
    font-weight: 600;
}