body {
  background-image: url("./../src/assets/img/backgroundbody.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.indexStyle {
  text-align: center;
}
